<h1>Register Survey Poodle account</h1>

<form>
  <div>

    <label for="username">username</label>
    <input type="text" name="username" id="username" placeholder="Enter your username..." [(ngModel)]="user.username">

    <label for="password">password</label>
    <input type="password" name="password" id="password" placeholder="Enter your password..."
      [(ngModel)]="user.password">
  </div>
  <br>
  <button [disabled]="isLoading" (click)="onRegisterClicked()" type="button">Register</button>
  <br>
  <div *ngIf="registerError">
    {{registerError}}
  </div>

  <div *ngIf="isLoading">
    <p>Registering your account...</p>
  </div>
</form>
<br>
<a routerLink="/login">I already have an account, login now.</a>
