<h1>Login to Survey Poodle</h1>

<form>
  <div>

    <label for="username">username</label>
    <input type="text" name="username" id="username" placeholder="Enter your username..." [(ngModel)]="user.username">

    <label for="password">password</label>
    <input type="password" name="password" id="password" placeholder="Enter your password..."
      [(ngModel)]="user.username">
  </div>

  <br>

  <button (click)="onLoginClicked()" type="button">Login</button>
</form>

<br>

<a routerLink="/register">I don't have an account, register now.</a>
